{
	#Real email for Let's Encrypt Cert Notifications
	email your-email@here

	# Dynamic DNS Updater
	dynamic_dns {
		provider cloudflare {
			api_key = {env.CF_API_TOKEN}
		}
		domains {
			# @ handles site.domain (change to yours)
			# * handles all subdomains
			site.domain @ *
		}
	}

	# ACME DNS Tells Caddy to use Cloudflare module for ALL certificates - no port 80 needed
	acme_dns cloudflare [api_key]
	
}

(hsts) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}
}

# --- Example Site ---
# Uncomment and edit this block to actually proxy something
# 
# sub.site.domain {
#     import hsts
#     reverse_proxy localhost:port
# }